[Unit]
Description=KIPS MKII Background Controls
# Wait until the device manager has settled
After=systemd-udev-settle.service
Wants=systemd-udev-settle.service

[Service]
# This ensures the uinput module is loaded BEFORE the script starts
ExecStartPre=/sbin/modprobe uinput
ExecStart=/usr/bin/python3 /home/kipster/KIPS-MKII/gui_shit/controls.py
User=kipster
# Added these to give the process the rights to handle input
Group=input
SupplementaryGroups=input
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
